# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
pubspec.lock

# Build outputs
build/
ios/Pods/
ios/Flutter/Flutter.framework
android/.gradle/
android/app/build/
windows/runner/Debug/
windows/runner/Release/

# IDE files
.vscode/
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
